<h1>Voici une liste de vos rêves les plus fous</h1>

<table>
  <tr>
  	<th>Username</th>
  	<th>Message</th>
  </tr>

<% @dreams.each do |dream| %>
  <tr>
  	<td><%= dream.user.username %></td>
  	<td><%= dream.message %></td>
  </tr>
<% end %>
</table>

<br />

Nombre de rêves : <%= @dreams.size %>

<%= link_to "Déposez votre rêve", new_user_path%>
<div class="fb-like" data-href="http://www.oxynum.fr" data-send="false" data-width="450" data-show-faces="false" data-font="arial"></div>
<a href="https://twitter.com/oxynum" class="twitter-follow-button" data-show-count="false" data-lang="fr">Suivre @Oxynum</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>